name: Test and lint

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    paths:
      - '**.py'
      - '.github/workflows/**'
      - 'pyproject.toml'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install bark
        run: |
          pip install git+https://github.com/suno-ai/bark.git

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Black check
        run: |
          black . --check

      - name: Isort check
        run: |
          isort . --check -q

#     - name: Lint with flake8
#       run: |
#         flake8 . --format="::error file=%(path)s,line=%(row)d,col=%(col)d::%(path)s:%(row)d:%(col)d: %(code)s %(text)s"
      - name: Test with pytest
        run: |
          pytest -v
